*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Merienda One', cursive, 'ZCOOL XiaoWei', serif;

  font-style: italic;
}

a{
  text-decoration: none;
  cursor:pointer;
}

nav{
  float:left;
  min-height: 11.5px !important;
  min-width: 1030px;
  background-color: black;
  top:0px;
  z-index: 999;
  width:100%;
  position: fixed;
}

div{
  display: block;
}

body{
  padding-top:50px;
  margin-bottom: 90px;
}

.mainTitle{
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size:22px;
  color: #33E2FF;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

li, ul, ol{
  list-style: none;
  margin:0px;
}

.more.pull-right a, .title .text-overflow a{
  color:black;
  text-decoration: none;
}

.musicPlayerContainer{
  position:fixed;
  bottom:0px;
  width:100%;
  min-width: 1030px;
  height:70px;
  background-color:black;
  z-index: 20;
  padding:10px;
}

.musicPlayerContainer div{
  display: block;
  float: left;
  height:100%;

}

.musicPlayerContainer .songInfoMusicPlayer,.musicPlayerContainer .extraControls{
  width:25%;
}

.musicPlayerContainer .buttons{
  width:50%;
}

.buttons div{
  display: block;
  height:50%;
  align-items: center;
}

.controlButtons{
  height:100%;
  width:60%;
  margin-left:17.5%;
  //padding-top: 1.5%;
  padding-left:7.5%;
}

.songDuration{
    height:100%;
    width:100%;
}

.controlButtons div#shuffle{
  display: block;
  height:100%;
  margin-right: 1.25%;
  width:15%;
}

.controlButtons div#repeat{
  display: block;
  height:100%;
  margin-left:1.25%;
  width:15%;
}

.controlButtons div#previous, .controlButtons div#play-pause, .controlButtons div#next{
  display: block;
  height:100%;
  margin-left:1.25%;
  margin-right: 1.25%;
  width:15%;
}

#play-pause i{
  padding-left: 29.5%;
}

#shuffle i, #repeat i{
  color:white;
}

i.material-icons{
  cursor: pointer;
}

.songDuration div.duration-start, .songDuration div.duration-end{
  display: block;
  float:left;
  width:15%;
  height:100%;
  padding-top: 1%;
}

.songDuration div.juiceBar{
  display: block;
  float:left;
  width:60%;
  height:100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 2.5%;
}

input.juiceBarDuration{
  margin-top:3%;
}

#start{
  float:right;
}

#shuffle .material-icons, #previous .material-icons{
  float:right;
}

#next .material-icons, #repeat .material-icons{
  float:left;
}

#juiceBarDuration::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:10px;
  height:10px;
  cursor: pointer;
  border-radius: 100%;
}

#juiceBarDuration:hover::-webkit-slider-thumb{
  background: white;
  box-shadow: 0px 0px 0px 4px rgba(51, 153, 204, 0.50);
}

#juiceBarDuration{
  -webkit-appearance: none;
  appearance: none;
  width:100% !important;
  height: 30%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  border-radius: 8px;
}

#juiceBarDuration:hover{
  opacity:1;
}

.mainContent{
  box-shadow: 0 2px 5px rgba(0,0,0,.7);
  display:block;
  background-color: #fff;
  padding: 15px;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-top: 20px;
}

.hide{
  display: none;
}

.m-0{
  float:left;
  margin:0!important;
}

.morePullRight{
  float:right!important;
}

.boxTitle{
  padding-top:10px;
  padding-bottom:10px;
  display:inline-block;
  width:100%;
  color:black;
  font-size:30px;
}

.textMuted{
  color:black;
  font-size: 15px;
}

.songPicLoading{
  display: block;
  position:relative;
  padding-top: 140%;
  background-size: cover;
  cursor:pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,.7);
}

.text-overflow{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.container{
  background-color: inherit;
  margin-bottom: 90px;
}

.outline{
  width:100%;
  height:1px;
  margin-bottom: 20px;
  background-color: #999;
}

.extraControls div{
  display: block;
  height:100%;
  float:left;
}

.extraControls div#playListQueue{
  width:17%;
  padding-top: 4%;
}

.extraControls div#volume{
  width:17%;
  padding-top: 4%;
}

#playListQueue i{
  float:right;
  color: white;
}

#volume i{
  float:right;
  color: white;
}

#shuffle i:hover, #previous i:hover, #play-pause i:hover, #next i:hover, #repeat i:hover, #playListQueue i:hover, #volume i:hover{
  color: #33E2FF;
}

.extraControls div.volumeControl{
  width:34%;
  padding-left: 2%;
  padding-top: 7%;
}

#volumeRange{
  -webkit-appearance: none;
  width:100% !important;
  height: 15%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  border-radius: 8px;
}

#volumeRange:hover{
  opacity:1;
}

#volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:10px;
  height:10px;
  cursor: pointer;
  border-radius: 100%;
}

#volumeRange:hover::-webkit-slider-thumb{
  background: white;
  box-shadow: 0px 0px 0px 4px rgba(51, 153, 204, 0.50);
}

#songPicture{
  height:100%;
  width:60px;
  background-size:cover;
}

.songTitle{
  height:100%;
  width:120px;
  margin-left: 20px;
  padding-top: 5px;
}

.queueInterface{
  width:100%;
  background-color: #202020;
  z-index:6;
  top:0px;
  margin-top: 50px;
  transform: translateY(100%);
  position: fixed;
  transition: transform 0.5s ease-in;
  overflow-y:auto;
  min-width: 1030px;
  padding-left:20px;
  padding-right:20px;
  display: flex;
}

.queueInterface-active{
  transform: translateY(0%);
}

.queueInformation-leftPanel div{
  margin-top:20px;
}

.queueInformation-leftPanel{
  width: 66%;
  float:left;
  padding:0px 10px 0px 10px;
  height:100%;
}

.collapseButton{
  padding-left: 20px;
  width:100%;
  color: white;
  padding-top:10px;
}

.queueSongDetails{
  height:200px;
  width:100%;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.queueSongPicture{
  margin-left: 30px;
  min-height:140px;
  min-width:140px;
  width:140px;
  height:140px;
}

.queueSong-Title{
  margin-left: 30px;
  min-height: 140px;
  min-width: 420px;
  width: 580px;
  height: 140px;
  float:left;
  display:flex;
  flex-direction:column;
}

.queueSongTitle{
  font-size: 50px;
}

.queueSongAuthor{
  font-size: 25px;
}

.nowPlaying{
  font-size: 35px;
  padding-left: 20px;
  color: white;
}

.queueListTable{
  margin-bottom:122px;
}

.queueList{
  margin:20px 0px;
  width:100%;
  color: white;
}

.queueList th, .queueList td{
  padding:10px 15px;
}

.queueList tbody tr{
  border-bottom: 1px solid #C0C0C0;
}


th{
  width:100px;
  font-size: 20px;
  border-bottom: 1px solid #C0C0C0;
}

th.title{
  width: 350px;
  min-width: 230px;
}

th.artist{
  width:200px;
  min-width: 130px;
}

.upNext{
  font-size: 35px;
  margin:0 !important;
  padding-left: 20px;
  color:white;
  float:left;
}

.upNextContainer{
  width:100%;
  height:50px;
}

.refresh{
  float:right;
  color:white;
}

.queueListUpNext{
  margin:20px 0px;
  width:100%;
  color:white;
}

.queueListUpNext th, .queueListUpNext td{
  padding:12px 15px;
}

.queueListUpNext tbody tr{
  border-bottom: 1px solid #C0C0C0;
}

tbody tr:hover{
  background-color: #383838;
  cursor: pointer;
}


input[type="checkbox"]{
  display:none;
}

label{
  padding-top: 6px;
}

label i.material-icons:hover{
  color:#33E2FF;
}

.songInformations-rightPanel{
  min-width: 350px;
  max-width: 350px;
  width: calc(100%/3);
  height: 900px;
  float: right;
  margin-left: 20px;
  position:relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

}

.songInformations-rightPanel div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.songInformations-rightPanel .queueSongPicture{
  margin-top: 120px;
  margin-left: 105px;
}

.songInformations-rightPanel .queueSongTitle{
  margin-top:20px;
  color:white;
}

.songInformations-rightPanel .queueSongAuthor{
  margin-top:30px;
  color:white;
}

.rightPanelButton{
  margin-top: 20px;
}

.rippleBtn{
  color:white;
  width:200px;
  height:80px;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  top:500px;
}

button:hover{
  border: 2px solid #33E2FF;
  background: #33E2FF;
  color:black;
}

button{
  border: 2px solid white;
  outline:none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  padding: 15px 25px;
  border-radius: 8px;
}

.authorPage{
  z-index: 5;
  width:100%;
  background-color: #202020;
  top:0px;
  margin-top: 50px;
  transform: translateX(-100%);
  position: fixed;
  transition: transform 0.5s ease-in;
  overflow-y:auto;
  min-width: 1030px;
  padding-left:30px;
  padding-right:30px;
}

.authorPage-active{
  transform: translateX(0%);
}

.authorPage div{
  display: inline-block;
  margin-top: 20px;
  color: white;
}

.backButton{
  width: 100%;
  display:inline-flex;
}

.backButton i{
  float:left;
}

.backButton a{
  text-decoration: none;
  color:inherit;
  float:left;
  height:100%;
}

.backButton a:hover{
  color:inherit;
}

.back{
  font-size: 17px;
}

.authorDetails{
  height:200px;
  width:100%;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.authorPic{
  margin-left: 30px;
  min-height:140px;
  min-width:140px;
  width:140px;
  height:140px;
  float:left;
}

.authorName{
  margin-left: 30px;
  min-height: 140px;
  min-width: 420px;
  width: 580px;
  height: 140px;
  float:left;
}

.authorName span, .authorName button{
  display: flex;
  flex-direction: column;
}

.author-Name{
  font-size: 50px;
}

.authorsSongs{
  width:100%;
}

.allSongsList{
  margin:20px 0px;
  width:100%;
  color: white;
}

.allSongsList th, .allSongsList td{
  padding:10px 15px;
}

.allSongsList tbody tr{
  border-bottom: 1px solid #C0C0C0;
}

.playAll{
  border-radius: 50px 50px 50px 50px;
}

.morePage{
  z-index: 5;
  width:100%;
  background-color: #202020;
  top:0px;
  margin-top: 50px;
  transform: translateX(100%);
  position: fixed;
  transition: transform 0.5s ease-in;
  overflow-y:auto;
  min-width: 1030px;
  padding-left:30px;
  padding-right:30px;
}

.morePage-active{
  transform: translateX(0%);
}

.morePage div{
  display: inline-block;
  margin-top: 20px;
  color: white;
}

.moreDetails{
  height:200px;
  width:100%;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.morePic{
  margin-left: 30px;
  min-height:140px;
  min-width:140px;
  width:140px;
  height:140px;
  float:left;
}

.moreName{
  margin-left: 30px;
  min-height: 140px;
  min-width: 420px;
  width: 580px;
  height: 140px;
  float:left;
}

.moreName span, .moreName button{
  display: flex;
  flex-direction: column;
}

.more-Name{
  font-size: 50px;
}

.moreSongs{
  width:100%;
}

.moreSongsList{
  margin:20px 0px;
  width:100%;
  color: white;
}

.moreSongsList th, .moreSongsList td{
  padding:10px 15px;
}

.moreSongsList tbody tr{
  border-bottom: 1px solid #C0C0C0;
}

.mPBackButton{
  width: 100%;
  display:inline-flex;
}

.mPBackButton i{
  float:left;
}

.mPBackButton a{
  text-decoration: none;
  color:inherit;
  float:left;
  height:100%;
}

.mPBackButton a:hover{
  color:inherit;
}

.mPBack{
  font-size: 17px;
}
